body {
    
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center 30%;

    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;

    color: lime;
    font-family: Arial;
    text-align: center;
}
#playButton {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: lime;
    color: black;
    cursor: pointer;
}
#message {
    font-size: 20px;
    margin: 20px;
}

#playButton:hover {
    background-color: #a0ff00;
}

select, button {
    margin: 5px;
    padding: 8px;
    font-size: 14px;
}
.gallery img {
    width: 100%;
    aspect-ratio: 1 / 1; /* 👈 THIS makes perfect squares */
    object-fit: cover;
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.2s;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 12px;
    padding: 10px;
}
