body {
    
    background-image: url("wallpaper.jpg");
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;

    color: lime;
    font-family: Arial;
    text-align: center;
}
}
